body {
  background: var(--c-page);
  padding-left: var(--s-page-offset-x);
  padding-right: var(--s-page-offset-x);
  font-size: var(--fs-text);
  font-family: var(--ff-text);
}

.content-wrapper {
  background: var(--c-white);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.main-header-logo {
  max-height: 7.4rem;
}

.main-contact {
  display: flex;
  flex-direction: column;
  line-height: 1;
  align-items: flex-end;
  justify-content: center;
  row-gap: 0.4rem;
  color: hsl(0, 0%, 43%);
  font-size: 1.2rem;
}

.main-contact-phone {
  display: flex;
  align-items: center;
  color: var(--c-primary);
  font-weight: 700;
  font-size: 2rem;
  column-gap: 0.5rem;
}

.main-contact-phone-icon {
  font-size: 2.4rem;
}

.main-header-content {
  padding-top: 1.6rem;
}

.content-wrapper {
  border: var(--border-base);
  border-radius: 3px;
  display: flex;
  align-items: stretch;
}

.sidebar {
  flex-basis: 20%;
  border-right: var(--border-base);
}

.nav-categories > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.7rem;
  border-bottom: var(--border-base);
  cursor: pointer;
  column-gap: 0.75rem;
  transition: background-color 0.15s ease-in-out;
}

.nav-categories > *:hover {
  background: rgb(238 238 238);
}

.nav-category-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.75rem;
}

.nav-category-icon {
  color: #c3c3c3;
  font-weight: 700;
}

.content {
  flex-basis: 80%;
}

.nav-categories > *,
.breadcrumbs {
  height: 4.2rem;
}

.breadcrumbs {
  border-bottom: var(--border-base);
  display: flex;
}

.breadcrumbs > * {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-left: var(--border-base);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #777;
  cursor: pointer;
}

.breadcrumbs > *:hover {
  text-decoration: underline;
}

.breadcrumbs > *:first-child {
  border-left: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.breadcrumbs > *:first-child:hover {
  text-decoration: none;
}

.breadcrumbs > *:last-child {
  color: hsl(0, 0%, 23%);
}

.stores-section {
  padding: 2.5rem 1.5rem;
}

.stores-section-title {
  font-size: 1.6rem;
  color: #777;
}

.stores,
.store + .store {
  margin-top: 1.5rem;
}

.store {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 0.75rem;
  font-size: 1.1rem;
}

.store-icon {
  color: rgb(192 54 54);
  font-size: 1.8rem;
  font-weight: 700;
}

.store-content > * + * {
  margin-top: 0.25rem;
}

.store-title {
  font-size: 1.2rem;
}

.store-time {
  color: rgb(192 54 54);
}
