* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin-left: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 56px;
}

.blue {
  color: #005da8;
}

.main-title {
  font-size: 22px;
  font-weight: 700;
  background: #0c5fa6;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.link-wrapper {
  margin-bottom: 10px;
}

.link {
  color: #005da8;
  font-size: 15px;
}

.title {
  font-weight: 700;
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
}

.paragraph {
  color: #484848;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.4;
}

.bold {
  font-weight: 700;
}

.section {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.back-link {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.homepage-item {
  margin-bottom: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: lightyellow;
  height: 300px;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.star {
  background: #333;
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.homepage-item img {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid #333;
}

.homepage-item .image-wrapper {
  margin-bottom: 5px;
  width: 200px;
  position: relative;
}

.last-homepage-item {
  margin-bottom: 0;
}

.main-image {
  margin-bottom: 20px;
  border: 20px dashed lightgray;
}

.main-image img {
  display: block;
}

.gallery .image-wrapper {
  width: 350px;
  margin-bottom: 10px;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

.homepage-item img:hover {
  filter: grayscale(100%);
}

.contact-section {
  background: #333;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-section .title {
  color: #fff;
}

.contact-section a {
  color: #fff;
}

.mb-0 {
  margin-bottom: 0;
}
