body {
  font-family: Arial;
}

.main-title {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #bc2f27;
}

.title {
  font-weight: 700;
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
}

.title-large {
  font-size: 22px;
}

.paragraph {
  color: #484848;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.4;
}

.section {
  margin-bottom: 20px;
}

.guitar-type {
  margin-bottom: 20px;
}

.guitar-type-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 7px;
  color: #bc2f27;
}

.link-wrapper {
  margin-bottom: 10px;
}

.link {
  color: #bc2f27;
  font-size: 15px;
}

.back-link {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.homepage-item {
  margin-bottom: 30px;
}

.homepage-item .image-wrapper {
  margin-bottom: 5px;
  width: 160px;
}

.last-homepage-item {
  margin-bottom: 0;
}

.main-image {
  width: 250px;
  margin-bottom: 20px;
}

.gallery .image-wrapper {
  width: 150px;
  margin-bottom: 10px;
}

.homepage-main-image {
  width: 1050px;
}
